.form-group{
    margin: 10px;
}
label{
    display: inline-block;
    width: 100px;

}
.form-control{
    border-radius: 3px;
}
.footer{
    height: 100px;
    background: #58FAF4;
    text-align: center;
}